body{
  background-color: hsl(47, 88%, 63%);
  font-size: 16px;

}



.btn{
  

  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-left: 29px;
  margin-top: 30px;
  background-color: hsl(47, 88%, 63%);
  font-weight: bolder;
 

  


    
}
.parts{
  margin-left: 29px;
}

.forms{
  border: 2px solid black;
  width: 400px;
  height: 550px;
  border-radius: 5%;
  margin-left: 800px;
  margin-top: 110px;
  background-color: white;
  box-shadow: 10px 10px 2px #000;


}
div img{
  margin-top: 35px;
  margin-left: 29px;
  border-radius: 5%;
  
  
}
.dates{
  margin-left: 29px;
}
.para{
  margin-left: 29px;
  
}
.ava{
  margin-left: 29px;
  margin-top: 30px;
  margin-top: 20px;
}
.parts{
  color:hsl(47, 88%, 63%) ;
}
.name{
  display: flex;
  
}
.name p{
  margin-left: 30px;
  margin-top: 40px;
  font-weight: bolder;
}